root = true

[*]
charset = utf-8
indent_style = space
insert_final_newline = true
trim_trailing_whitespace = true

[*.{hs,lhs}]
indent_size = 4

[*.cabal]
indent_size = 2

[*.nix]
indent_size = 2

[*.lock]
charset = unset
end_of_line = unset
insert_final_newline = unset
trim_trailing_whitespace = unset
indent_style = unset
indent_size = unset

[.envrc]
indent_size = 2

[*.{json,json5}]
indent_size = 2

[*.{yml,yaml}]
indent_size = 2

[*.md]
trim_trailing_whitespace = false

[*.{htm,html,js,ts,tsx,css,sass,scss,less,svg,vue}]
indent_size = 2

[*.{xml,config}]
indent_size = 2

[*.{cmd,bat}]
end_of_line = crlf
